<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ path('home') }}">As MIAGE</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link " href="{{ path('home') }}">Acceuil
                        <span class="visually-hidden">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('licencie.index') }}">Licenciés</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('categorie.index') }}">Catégories</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('educateur.index') }}">Educateurs</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link"  href="{{ path('contact.index') }}" >Contacts</a>
                </li>
            </ul>
            <form class="d-flex">
                <button type="button" class="btn btn-primary" onclick="window.location.href='{{ path('security.login') }}'">Connexion</button>
            </form>
        </div>
    </div>
</nav>