{% extends 'base.html.twig' %}

{% block title %}Educateur{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1 class="text-center">Liste des éducateurs</h1>
        <div class="d-flex justify-content-end">
            <a href="{{ path('educateur.new') }}" class="btn btn-primary mb-4">Ajouter un éducateur</a>
        </div>
        {% for message in  app.flashes('success') %}
            <div class=" alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
        {% if educateurs is not empty %}
            <table class="table table-hover mt-4">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Prénom</th>
                    <th scope="col">Numéro de licence</th>
                    <th scope="col">Email</th>
                    <th scope="col">Edition</th>
                    <th scope="col">Suppression</th>
                </tr>
                </thead>
                <tbody>
                {% for educateur in educateurs %}
                    <tr class="table-dark">
                        <th scope="row">{{ educateur.id }}</th>
                        <td>{{ educateur.licencie.nom }}</td>
                        <td>{{ educateur.licencie.prenom }}</td>
                        <td>{{ educateur.licencie.numeroLicence }}</td>
                        <td>{{ educateur.email }}</td>
                        <td><a href="{{ path('educateur.edit', {'id': educateur.id}) }}" class="btn btn-primary">Editer</a></td>
                        <td><a href="{{ path('educateur.delete',{'id': educateur.id}) }}" class ="btn btn primary">Supprimer</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="navigation d-flex justify-content-center mt-4">
                {{ knp_pagination_render(educateurs) }}
            </div>
        {% else %}
            <div class="alert alert-warning" role="alert">
                Aucun éducateur n'a été trouvé.
            </div>
        {% endif %}
    </div>
{% endblock %}
