{% extends 'base.html.twig' %}

{% block title %}Catégorie{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1 class="text-center">Liste des categories</h1>
        <div class="d-flex justify-content-end">
            <a href="{{ path('categorie.new') }}" class="btn btn-primary mb-4">Ajouter une catégorie</a>
        </div>
        {% for message in  app.flashes('success') %}
            <div class=" alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
        {% if categories is not empty %}
            <table class="table table-hover mt-4">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Code Raccourci</th>
                    <th scope="col">Edition</th>
                    <th scope="col">Suppression</th>
                </tr>
                </thead>
                <tbody>
                {% for categorie in categories %}
                    <tr class="table-dark">
                        <th scope="row">{{ categorie.id }}</th>
                        <td>{{ categorie.nom }}</td>
                        <td>{{ categorie.codeRaccourci }}</td>
                        <td><a href="{{ path('categorie.edit', {'id': categorie.id}) }}" class="btn btn-primary">Editer</a></td>
                        <td><a href="{{ path('categorie.delete',{'id': categorie.id}) }}" class ="btn btn primary">Supprimer</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="navigation d-flex justify-content-center mt-4">
                {{ knp_pagination_render(categories) }}
            </div>
        {% else %}
            <div class="alert alert-warning" role="alert">
                Aucune catégorie n'a été trouvé.
            </div>
        {% endif %}
    </div>
{% endblock %}
