{% extends 'base.html.twig' %}

{% block title %}Hello LicencieController!{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1 class="text-center">Liste des licenciés</h1>
        <div class="d-flex justify-content-end">
            <a href="{{ path('licencie.new') }}" class="btn btn-primary mb-4">Ajouter un licencié</a>
        </div>
        {% for message in  app.flashes('success') %}
            <div class=" alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
        {% if licencies is not empty %}
            <table class="table table-hover mt-4">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Prénom</th>
                    <th scope="col">Numéro de licence</th>
                    <th scope="col">Catégrorie</th>
                    <th scope="col">Email du contact</th>
                    <th scope="col">Edition</th>
                    <th scope="col">Suppression</th>
                </tr>
                </thead>
                <tbody>
                {% for licencie in licencies %}
                    <tr class="table-dark">
                        <th scope="row">{{ licencie.id }}</th>
                        <td>{{ licencie.nom }}</td>
                        <td>{{ licencie.prenom }}</td>
                        <td>{{ licencie.numeroLicence }}</td>
                        <td>{{ licencie.categorie.codeRaccourci }}</td>
                        <td>{{ licencie.contact.email }}</td>
                        <td><a href="{{ path('licencie.edit', {'id': licencie.id}) }}" class="btn btn-primary">Editer</a></td>
                        <td><a href="{{ path('licencie.delete',{'id': licencie.id}) }}" class ="btn btn primary">Supprimer</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="navigation d-flex justify-content-center mt-4">
                {{ knp_pagination_render(licencies) }}
            </div>
        {% else %}
            <div class="alert alert-warning" role="alert">
                Aucun licencié n'a été trouvé.
            </div>
        {% endif %}
    </div>
{% endblock %}
